.row
  .col.s12.m12
    .col.s12.m12
      .card-panel
        %h5.header2
          %a{:href => "#", :style => "padding: 0px 16px;"}
            %i.material-icons> camera_front
            INDEX PAGE PERATURAN
      .card-panel
        .row
          .col.m12.s12{:style => "padding:10px;"}
            = link_to raw('<i class="material-icons left">add_circle_outline</i> Tambah'), new_admin_peraturan_path, class: 'right btn'
        .row
          .col.s12.m12
            %table.bordered.highlight.responsive-table
              %thead
                %tr
                  %th Nama
                  %th File
                  %th
              %tbody
                - @peraturans.each do |peraturan|
                  %tr
                    %td= peraturan.nama
                    %td= link_to "Download File", peraturan.file_url, target: "_blank" if peraturan.file.present?
                    %td
                      = link_to raw('<i class="small material-icons">edit</i>'), edit_admin_peraturan_path(peraturan)
                      = link_to raw('<i class="small material-icons">delete</i>'), admin_peraturan_url(peraturan), method: :delete, data: { confirm: 'Are you sure?' }