= simple_form_for(@tentang, url: (@tentang.new_record? ? admin_tentangs_path(@tentang) : admin_tentang_path(@tentang)), defaults: { label_html: { class: (@tentang.new_record? ? '' : 'active') } }) do |f|
  .row
    .form-inputs
      .col.m12.s12
        .card-panel
          .row
            .field
              = f.input :judul, autofocus: true, wrapper_html: { class: 'm6' }
            .field
              = f.input :konten, autofocus: true, wrapper_html: { class: 'm12' }, input_html: { class: 'flora-editor',  rows:"8" }
            .field
              = f.input :gambar, as: :file, input_html: { class: 'photo_upload m6', accept: 'image/jpeg, image/jpg, image/gif, image/png' }
              .black-text.col.m6.s12
                .input-field.col.s12.float.optional
                  = image_tag(@tentang.gambar.url, class:"materialboxed image_to_upload", width:"250")
              = f.input :gambar_cache, as: :hidden
        .right{:style => "padding:20px;"}
          %button.btn.cyan.waves-effect.waves-light.right{:type => "submit"}
            SIMPAN
            %i.material-icons.right send 