= simple_form_for(@hibah, validate: true, html: {multipart: true}, defaults: { label_html: { class: (@hibah.new_record? ? '' : 'active') } }) do |f|
  .card-panel
    .div
      .row
        %h6.header
          INFORMASI
          %span.red-text HIBAH
      .divider
      .row
        .form-inputs
          .col.m12.s12
            .row
              = f.input :nama, required: true, label: 'Nama (individu atau organisasi)', wrapper_html: { class: 'm6' }
              = f.input :judul_kegiatan, required: true, wrapper_html: { class: 'm6' }
            .row
              = f.input :alamat, required: true
            .row
              = f.input :latar_belakang, required: true
            .row
              = f.input :maksud_dan_tujuan, required: true
  .card-panel
    .div
      .row
        %h6.header
          UPLOAD
          %span.red-text FILE
      .divider
      .row
        .form-inputs
          .col.m12.s12
            .row
              = f.input :proposal, as: :file, required: true, input_html: { class: 'm6', accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document' }
              .black-text.col.m6.s12= link_to "Download Proposal", @hibah.proposal_url, target: "_blank" if @hibah.proposal.present?
            .row
              = f.input :gambar, as: :file, required: true, input_html: { class: 'photo_upload m6', accept: 'image/jpeg, image/jpg, image/gif, image/png' }
              .black-text.col.m6.s12
                .input-field.col.s12.float.optional.hibah_danas_jumlah
                  / <haml_loud> f.check_box :remove_gambar </haml_loud><label for="remove_gambar">
                  / Hapus Gambar</label>
                  / </div><div class="input-field col s12 float optional hibah_danas_jumlah">
                  = image_tag(@hibah.gambar.url, class:"materialboxed image_to_upload", width:"250")
              = f.input :gambar_cache, as: :hidden
  .card-panel
    .div
      .row
        %h6.header
          DANA
          %span.red-text YANG DIAJUKAN
      .divider
      .row
        .col.m12.s12
          .black-text.col.s8.m8
          .black-text.col.s8.m8.right
            = link_to_add_association raw('<i class="material-icons left">add_circle_outline</i> Tambah Dana'), f, |
              :danas, :"data-association-insertion-node" => "div.data_items",                                      |
              :"data-association-insertion-method" => "append",                                                    |
              :partial => "dana_fields",                                                                           |
              class: 'waves-effect waves-light right', style: 'padding:20px;'                                      |
      #tasks
        .data_items
          = f.simple_fields_for :danas do |dana|
            = render  "dana_fields", :f => dana
        .row
          .black-text.col.s12.m7
            .input-field.col.s12.float.optional.hibah_danas_jumlah
              Total Dana :
          .black-text.col.s10.m4
            .input-field.col.s12.float.optional.hibah_danas_jumlah
              = text_field_tag (:jumlah), '', class: 'validate money float optional', disabled:'disabled', style: "text-align:right;"
          .black-text.col.s2.m1
  .row
    .col.m12
      .right{:style => "padding:20px;"}
        %button.btn.cyan.waves-effect.waves-light.right{:type => "submit"}
          SIMPAN HIBAH
          %i.material-icons.right send
      .right{:style => "padding:20px;"}
        = link_to 'Back', hibahs_path, class:"btn cyan waves-effect waves-light right"
