.card-panel
  .row
    %h5.header2
      = @hibah.judul_kegiatan
    .divider
    .row
      .col.s12.m6
        %p
          = image_tag(@hibah.gambar.url, class:"materialboxed image_to_upload", width:"100%")
        .col.s12.m12
          = link_to raw('<i class="material-icons">file_download</i> Unduh Proposal'), @hibah.proposal_url, target: "_blank", class:"btn waves-effect waves-light center col s12 m12" if @hibah.proposal.present?
      .col.s12.m6
        %p
          %strong Nama:
          = @hibah.nama
        %p
          %strong Alamat:
          = @hibah.alamat
        %p
          %strong Judul kegiatan:
          = @hibah.judul_kegiatan
        %p
          %strong Latar belakang:
          = @hibah.latar_belakang
        %p
          %strong Maksud dan tujuan:
          = @hibah.maksud_dan_tujuan
        %p
          %strong Tahapan:
          = @hibah.status_hibah
        %p
          %strong Realisasi:
          = number_to_currency(@hibah.pertimbangans.last.realisasi, unit: "Rp. ", separator: ",", delimiter: ".")  if @hibah.pertimbangans.last.present?
    .divider
    .row
      %p{:style => "padding:30px;padding-top:20px;padding-bottom:0px;"}
        %strong Uraian Dana yang Diajukan:
      .row
        .col.s12.m12{:style => "padding:30px;padding-top:0px;"}
          %table.bordered.highlight.responsive-table
            %thead
              %tr
                %th No
                %th Deskripsi keperluan
                %th{:style => "text-align:right"} Jumlah Dana
            %tbody
              - numb = 1
              - @hibah.danas.each do |dana|
                %tr
                  %td= numb
                  %td= dana.deskripsi
                  %td{:style => "text-align:right"}= number_to_currency dana.jumlah, unit: "Rp. ", separator: ",", delimiter: "."
                - numb = numb+1
    .divider
    .row
      %p{:style => "padding:30px;padding-top:20px;padding-bottom:0px;"}
        %strong Uraian Proses yang berjalan :
      .row
        .col.s12.m12{:style => "padding:30px;padding-top:0px;"}
          .form-inputs
            .col.m12.s12
              .row
                .input-field.col.s12.text.required.seleksi_keterangan
                  %textarea#seleksi_keterangan.materialize-textarea.validate.text.required.valid{"aria-required" => "true", :name => "seleksi[keterangan]", :required => "required", :disabled => true}
                    = @hibah.seleksis.last.status_seleksi + ' / ' + @hibah.seleksis.last.keterangan if @hibah.seleksis.last.present?
                  %label.active.text.valid{:for => "distribusi_keterangan"}
                    Hasil Seleksi
              .row
                .input-field.col.s12.text.required.seleksi_keterangan
                  %textarea#seleksi_keterangan.materialize-textarea.validate.text.required.valid{"aria-required" => "true", :name => "seleksi[keterangan]", :required => "required", :disabled => true}
                    = @hibah.distribusis.last.dina.name + ' / ' + @hibah.distribusis.last.keterangan if @hibah.distribusis.last.present?
                  %label.active.text.valid{:for => "distribusi_keterangan"}
                    Hasil Distribusi
              .row
                .input-field.col.s12.text.required.evaluasi_keterangan
                  %textarea#evaluasi_keterangan.materialize-textarea.validate.text.required.valid{"aria-required" => "true", :name => "evaluasi[keterangan]", :required => "required", :disabled => true}
                    = @hibah.evaluasis.last.keterangan if @hibah.evaluasis.last.present?
                  = (link_to "Download File hasil evaluasi", @hibah.evaluasis.last.file_upload_url, target: "_blank" if @hibah.evaluasis.last.file_upload.present?) if @hibah.evaluasis.last.present? and ((1..7).include? current_user.role_id)
                  %label.active.text.valid{:for => "evaluasi_keterangan"}
                    Hasil Evaluasi
              .row
                .input-field.col.s12.text.required.evaluasi_keterangan
                  %textarea#pertimbangan_keterangan.materialize-textarea.validate.text.required.valid{"aria-required" => "true", :name => "pertimbangan[keterangan]", :required => "required", :disabled => true}
                    = @hibah.pertimbangans.last.status_pertimbangan + ' / Realisasi : ' + number_to_currency(@hibah.pertimbangans.last.realisasi, unit: "Rp. ", separator: ",", delimiter: ".") + ' / ' + @hibah.pertimbangans.last.keterangan  if @hibah.pertimbangans.last.present?
                  = (link_to "Download File hasil pertimbangan", @hibah.pertimbangans.last.file_url, target: "_blank" if @hibah.pertimbangans.last.file.present?)  if @hibah.pertimbangans.last.present? and ((1..7).include? current_user.role_id)
                  %label.active.text.valid{:for => "evaluasi_keterangan"}
                    Hasil Pertimbangan
              .row
                .input-field.col.s12.text.required.evaluasi_keterangan
                  %textarea#pertimbangan_keterangan.materialize-textarea.validate.text.required.valid{"aria-required" => "true", :name => "pertimbangan[keterangan]", :required => "required", :disabled => true}
                    = 'Data Ditetapkan Pada tanggal : ' + @hibah.penetapans.last.tgl_ketetapan.to_s
                  = link_to "Download File hasil pertimbangan", @hibah.pertimbangans.last.file_url, target: "_blank" if @hibah.pertimbangans.last.file.present? and ((1..7).include? current_user.role_id)
                  %label.active.text.valid{:for => "evaluasi_keterangan"}
                    Hasil Penetapan
  .row
    .col.s12.m12
      .right{:style => "padding:20px;"}
        = link_to 'Edit', edit_hibah_path(@hibah), class:"btn waves-effect waves-light right" if current_user.role_id == 1 or current_user.role_id == 2 or @hibah.user_id == current_user.id
      .right{:style => "padding:20px;"}
        = link_to 'Back', hibahs_path, class:"btn waves-effect waves-light right"
