%ul#slide-out.side-nav.fixed
  %li
    .user-view
      .background{:style => "background-color: #42A5F5;"}
        %a.brand-logo{:href => "/"}
          = image_tag("logo.png", height: '65', style:"margin-top: 0px;")
      %div{:style => "height:33px;"}
    .divider
  / li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li
  %li.no-padding
    %a{:href => "/admin", :style => "padding: 0px 16px;"}
      %i.material-icons> dashboard
      DASHBOARD
  - if (1..6).include? current_user.role_id
    %li.no-padding
      %ul.collapsible.collapsible-accordion
        %li
          %a.collapsible-header{:class => "#{'active' if params[:controller] == 'admin/proposal'}"}
            %i.material-icons.left> subject
            PROPOSAL
            %i.material-icons.right arrow_drop_down
          .collapsible-body
            %ul
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and params[:action] == 'index'}"}
                %a{:href => "/admin/proposal/index"} DAFTAR PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'seleksi' or params[:action] == 'proses_seleksi') }"}
                %a{:href => "/admin/proposal/seleksi"} SELEKSI PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'disposisi' or params[:action] == 'proses_disposisi') }"}
                %a{:href => "/admin/proposal/disposisi"} DISPOSISI PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'distribusi' or params[:action] == 'proses_distribusi') }"}
                %a{:href => "/admin/proposal/distribusi"} DISTRIBUSI PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'evaluasi' or params[:action] == 'proses_evaluasi') }"}
                %a{:href => "/admin/proposal/evaluasi"} EVALUASI PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'pertimbangan' or params[:action] == 'proses_pertimbangan') }"}
                %a{:href => "/admin/proposal/pertimbangan"} PERTIMBANGAN PROPOSAL
              %li{:class => "#{'active' if params[:controller] == 'admin/proposal' and (params[:action] == 'penetapan' or params[:action] == 'proses_penetapan') }"}
                %a{:href => "/admin/proposal/penetapan"} PENETAPAN PROPOSAL
  - if (1..3).include? current_user.role_id
    %li.no-padding
      %ul.collapsible.collapsible-accordion
        %li
          %a.collapsible-header{:class => "#{'active' if params[:controller] == 'admin/homepages' or params[:controller] == 'admin/tentangs' or params[:controller] == 'admin/peraturans'}"}
            %i.material-icons.left> camera_front
            FRONTEND
            %i.material-icons.right arrow_drop_down
          .collapsible-body
            %ul
              %li{:class => "#{'active' if params[:controller] == 'admin/homepages'}"}
                = link_to 'HOMEPAGE', edit_admin_homepage_path(1)
              %li{:class => "#{'active' if params[:controller] == 'admin/tentangs'}"}
                %a{:href => "/admin/tentang"} TENTANG
              %li{:class => "#{'active' if params[:controller] == 'admin/peraturans'}"}
                %a{:href => "/admin/peraturan"} PERATURAN
    %li.no-padding
      %ul.collapsible.collapsible-accordion
        %li
          %a.collapsible-header{:class => "#{'active' if params[:controller] == 'admin/users' or params[:controller] == 'admin/dinas' or params[:controller] == 'admin/roles' or params[:controller] == 'admin/kategoris'}"}
            %i.material-icons.left> verified_user
            MASTER
            %i.material-icons.right arrow_drop_down
          .collapsible-body
            %ul
              %li{:class => "#{'active' if params[:controller] == 'admin/users'}"}
                %a{:href => "/admin/users"} USER
              %li{:class => "#{'active' if params[:controller] == 'admin/roles'}"}
                %a{:href => "/admin/roles"} ROLE
              %li{:class => "#{'active' if params[:controller] == 'admin/dinas'}"}
                %a{:href => "/admin/dinas"} DINAS
              %li{:class => "#{'active' if params[:controller] == 'admin/kategoris'}"}
                %a{:href => "/admin/kategoris"} KATEGORI
  %li.no-padding
    = link_to raw('<i class="material-icons left">highlight_off</i>LOGOUT'), destroy_user_session_url, data: {method: :delete}, :style => "padding: 0px 16px;"
/ <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
