<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html>

<head>
  <title>Purwakarta Sahate</title>

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="/" name="turbolinks-root" />
  <meta content="no-preview" name="turbolinks-cache-control" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
    nav, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      nav, main, footer {
        padding-left: 0;
      }
    }
  </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <%= javascript_pack_tag 'application' %> -->
</head>
<body>
  <%= render 'layouts/admin/header_1' %>
    <%= render 'layouts/admin/side_bar_fixed' %>
      <% flash.each do |message_type, message| %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
          <% end %>
            <%= render 'layouts/main' %>
              <style>
                .page-footer {
                  padding-top: 0px;
                }
              </style>
              <%= render 'layouts/footer_1' %>
</body>

</html>
