<div class="card-panel">
  <div class="row">
    <h5 class="header2"><%= @hibah.judul_kegiatan %>
    </h5>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6">
        <p>
          <%= image_tag(@hibah.gambar.url, class:"materialboxed image_to_upload", width:"100%") %>
        </p>
        <div class="col s12 m12">
          <%= link_to raw('<i class="material-icons">file_download</i> Unduh Proposal'), @hibah.proposal_url, target: "_blank", class:"btn waves-effect waves-light center col s12 m12" if @hibah.proposal.present? %>
        </div>
      </div>
      <div class="col s12 m6">
        <p>
          <strong>Nama:</strong>
          <%= @hibah.nama %>
        </p>
        
        <p>
          <strong>Alamat:</strong>
          <%= @hibah.alamat %>
        </p>
        
        <p>
          <strong>Judul kegiatan:</strong>
          <%= @hibah.judul_kegiatan %>
        </p>
        
        <p>
          <strong>Latar belakang:</strong>
          <%= @hibah.latar_belakang %>
        </p>
        
        <p>
          <strong>Maksud dan tujuan:</strong>
          <%= @hibah.maksud_dan_tujuan %>
        </p>

        <p>
          <strong>Tahapan:</strong>
          <%= @hibah.status_hibah %>
        </p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <p style="padding:30px;padding-top:20px;padding-bottom:0px;">
        <strong>Uraian Dana yang Diajukan:</strong>
      </p>
      <div class="row">
        <div class="col s12 m12" style="padding:30px;padding-top:0px;">
          <table class="bordered highlight responsive-table">
            <thead>
              <tr>
                <th>No</th>
                <th>Deskripsi keperluan</th>
                <th style="text-align:right">Jumlah Dana</th>
              </tr>
            </thead>
            <tbody>
              <% numb = 1 %>
              <% @hibah.danas.each do |dana| %>
                <tr>
                  <td><%= numb %></td>
                  <td><%= dana.deskripsi %></td>
                  <td style="text-align:right"><%= number_to_currency dana.jumlah, unit: "Rp. ", separator: ",", delimiter: "." %></td>
                </tr>
                <% numb = numb+1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>