<div class="card-panel">
  <div class="row">
    <h5 class="header2">
      Daftar Kategori
    </h5>
    <div class="divider"></div>

    <div class="row">
      <div class="col m12 s12" style="padding:10px;">
        <%= link_to raw('<i class="material-icons left">add_circle_outline</i> Tambah Kategori'), new_admin_kategori_path, class: 'right' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <table class="bordered highlight responsive-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Kategori</th>
              <th>Dinas</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @kategori.each do |kategori| %>
              <tr>
                <td>
                  <%= kategori.id %>
                </td>
                <td>
                  <%= kategori.name %>
                </td>
                <td>
                  <%= kategori.dina.name if kategori.dina_id.present? %>
                </td>
                <td>
                  <%= link_to raw('<i class="small material-icons">edit</i>'), edit_admin_kategori_url(kategori) %>
                  <%= link_to raw('<i class="small material-icons">delete</i>'), admin_kategori_url(kategori), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>