.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> verified_user
      HALAMAN INDEX KATEGORI
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card
      .header
        Tabel Data
        %span.red-text Kategori
      .body
        .row
          .col.m12.s12{:style => "padding:10px;"}
            = link_to raw('<i class="material-icons left">add_circle_outline</i> Tambah Kategori'), new_admin_kategori_path, class: 'right btn'
        .row
          .col.s12.m12
            %table.bordered.highlight.responsive-table.table-bordered
              %thead
                %tr
                  %th ID
                  %th Kategori
                  %th Dinas
                  %th
              %tbody
                - @kategori.each do |kategori|
                  %tr
                    %td{:style => "width:5%;"}
                      = kategori.id
                    %td
                      = kategori.name
                    %td
                      = kategori.dina.name if kategori.dina_id.present?
                    %td{:style => "width:10%;"}
                      = link_to raw('<i class="small material-icons">edit</i>'), edit_admin_kategori_url(kategori)
                      = link_to raw('<i class="small material-icons">delete</i>'), admin_kategori_url(kategori), method: :delete, data: { confirm: 'Are you sure?' }
