.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> verified_user
      HALAMAN INDEX MANAGEMENT USER
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card
      .header
        Tabel Data
        %span.red-text User
      .body
        .row
          .col.m12.s12{:style => "padding:10px;"}
            = link_to raw('<i class="material-icons left">add_circle_outline</i> Tambah User'), new_admin_user_path, class: 'right btn'
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.responsive-table
            %table.bordered.highlight.responsive-table.table-bordered
              %thead
                %tr
                  %th Email
                  %th Ketua Organisasi
                  %th Organisasi
                  %th Role
                  %th Dinas
                  %th Aktivasi
                  %th
              %tbody
                - @users.each do |user|
                  %tr
                    %td
                      = user.email
                    %td
                      = user.nama_ketua
                    %td
                      = user.nama_organisasi
                    %td
                      = user.role.name if user.role_id.present?
                    %td
                      = user.dina.name if user.dina_id.present?
                    %td{:style => "width:10%;"}
                      - if  user.role_id != 1
                        .switch
                          %label
                            Off
                            %input{:type => "checkbox", :checked => user.activate == 1 ? true : false, :id_key => user.id, :class => 'switch-active'}/
                            %span.lever
                            On
                    %td{:style => "width:10%;"}
                      - unless user.role_id == 1
                        = link_to raw('<i class="small material-icons">edit</i>'), edit_admin_user_url(user)
                        = link_to raw('<i class="small material-icons">delete</i>'), admin_user_url(user), method: :delete, data: { confirm: 'Are you sure?' }
