<div class="card-panel">
  <div class="row">
    <h5 class="header2">
      Daftar User
    </h5>
    <div class="divider"></div>

    <div class="row">
      <div class="col m12 s12" style="padding:10px;">
        <%= link_to raw('<i class="material-icons left">add_circle_outline</i> Tambah User'), new_admin_user_path, class: 'right' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <table class="bordered highlight responsive-table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Role</th>
              <th>Dinas</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= user.role.name if user.role_id.present? %>
                </td>
                <td>
                  <%= user.dina.name if user.dina_id.present? %>
                </td>
                <td>
                  <% unless user.role.id == 1 %>
                    <%= link_to raw('<i class="small material-icons">edit</i>'), edit_admin_user_url(user) %>
                    <%= link_to raw('<i class="small material-icons">delete</i>'), admin_user_url(user), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>