.row
  .col.s12.m12
    .col.s12.m12
      .card-panel
        .row
          %h5.header2
            %a{:href => "#", :style => "padding: 0px 16px;"}
              %i.material-icons> subject
              PERTIMBANGAN PROPOSAL HIBAH TAPD
          .divider
          = simple_form_for(@per, url: (@per.new_record? ? admin_simpan_pertimbangan_path(@per) : admin_simpan_pertimbangan_path(@per)), defaults: { label_html: { class: (@per.new_record? ? '' : 'active') } }) do |f|
            
            = f.input :hibah_id, :as => :hidden, input_html: {value: @hibah.id}
            = f.input :user_id, :as => :hidden, input_html: {value: current_user.id}

            
            .col.m12.s12
              %ul.stepper.horizontal{style:"height:750px"}
                %li.step.done
                  .step-title.waves-effect Seleksi
                  .step-content
                    .form-inputs
                      .col.m12.s12
                        .row
                          .input-field.col.s12.select.disposisi_status.m6
                            %h6 Status :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.seleksis.last.status_seleksi
                            %hr
                        -#   = f.input :status, required: true, collection: [['Sesuai Persyaratan', 0], ['Tidak Sesuai Persyaratan', 1]], prompt: "-- Pilih Seleksi --", label: '', autofocus: true, wrapper_html: { class: 'm6' }
                        .row
                          .input-field.col.s12.text.required.seleksi_keterangan
                            %h6 Keterangan :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.seleksis.last.keterangan
                            %hr
                %li.step.done
                  .step-title.waves-effect Disposisi
                  .step-content
                    .form-inputs
                      .col.m12.s12
                        .row
                          .input-field.col.s12.select.disposisi_status.m6
                            %h6 Status :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.disposisis.last.status_disposisi
                            %hr
                        -#   = f.input :status, required: true, collection: [['Sesuai Persyaratan', 0], ['Tidak Sesuai Persyaratan', 1]], prompt: "-- Pilih Seleksi --", label: '', autofocus: true, wrapper_html: { class: 'm6' }
                        .row
                          .input-field.col.s12.text.required.seleksi_keterangan
                            %h6 Keterangan :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.disposisis.last.keterangan
                            %hr
                %li.step.done
                  .step-title.waves-effect Distribusi
                  .step-content
                    .form-inputs
                      .col.m12.s12
                        .row
                          .input-field.col.s12.select.disposisi_status.m6
                            %h6 Dinas yang dipilh :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.distribusis.last.dina.name
                            %hr
                        -#   = f.input :status, required: true, collection: [['Sesuai Persyaratan', 0], ['Tidak Sesuai Persyaratan', 1]], prompt: "-- Pilih Seleksi --", label: '', autofocus: true, wrapper_html: { class: 'm6' }
                        .row
                          .input-field.col.s12.text.required.seleksi_keterangan
                            %h6 Keterangan :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.distribusis.last.keterangan
                            %hr
                %li.step.done
                  .step-title.waves-effect Evaluasi
                  .step-content
                    .form-inputs
                      .col.m12.s12
                        .row
                          .input-field.col.s12.select.disposisi_status.m6
                            %h6 File hasil evaluasi :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = link_to "Download File hasil evaluasi", @hibah.evaluasis.last.file_upload_url, target: "_blank" if @hibah.evaluasis.last.file_upload.present?
                            %hr
                        -#   = f.input :status, required: true, collection: [['Sesuai Persyaratan', 0], ['Tidak Sesuai Persyaratan', 1]], prompt: "-- Pilih Seleksi --", label: '', autofocus: true, wrapper_html: { class: 'm6' }
                        .row
                          .input-field.col.s12.text.required.seleksi_keterangan
                            %h6 Keterangan :
                            %pre.darken-3{style: "padding: 5px 10px; border-radius: 3px"}
                              = @hibah.distribusis.last.keterangan
                            %hr

                %li.step.active
                  .step-title.waves-effect Distribusi
                  .step-content
                    .form-inputs
                      .col.m12.s12
                        .row
                          = f.input :status, required: true, collection: [['Dapat Dipertimbangkan', 0], ['Tidak Dapat Dipertimbangkan', 1]], prompt: "-- Pilih Pertimbangan --", label: '', autofocus: true, wrapper_html: { class: 'm6' }
                        .row
                          = f.input :usulan, label: 'Usulan', required: false, as: :string, input_html: { class: 'money m6', style: "text-align:right;", readonly: true, value: @hibah.danas.sum(:jumlah)}, wrapper_html: { class: 'm6' }
                        .row
                          = f.input :realisasi, label: 'Realisasi', required: true, as: :string, input_html: { class: 'money m6', style: "text-align:right;" }, wrapper_html: { class: 'm6' }
                        .row
                          = f.input :keterangan, label: 'Keterangan', required: true
                        .row
                          = f.input :file, as: :file, input_html: { class: 'm6', accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document' }
                          .black-text.col.m6.s12= link_to "Download File", @per.file_url, target: "_blank" if @per.file.present?
                    .step-actions
                      .right{:style => "padding:20px;"}
                        %button.btn.cyan.waves-effect.waves-light.right{:type => "submit"}
                          PROSES PERTIMBANGAN
                          %i.material-icons.right send          
      .card-panel
        .row
          %h5.header2
            = 'Judul Kegiatan : ' + @hibah.judul_kegiatan
          .divider
          .row
            .col.s12.m6
              %p
                = image_tag(@hibah.gambar.url, class:"materialboxed image_to_upload", width:"100%")
              .col.s12.m12
                = link_to raw('<i class="material-icons">file_download</i> Unduh Proposal'), @hibah.proposal_url, target: "_blank", class:"btn waves-effect waves-light center col s12 m12" if @hibah.proposal.present?
            .col.s12.m6
              %p
                %strong Nama:
                = @hibah.nama
              %p
                %strong Alamat:
                = @hibah.alamat
              %p
                %strong Judul kegiatan:
                = @hibah.judul_kegiatan
              %p
                %strong Latar belakang:
                = @hibah.latar_belakang
              %p
                %strong Maksud dan tujuan:
                = @hibah.maksud_dan_tujuan
              %p
                %strong Tahapan:
                = @hibah.status_hibah
          .divider
          .row
            %p{:style => "padding:30px;padding-top:20px;padding-bottom:0px;"}
              %strong Uraian Dana yang Diajukan:
            .row
              .col.s12.m12{:style => "padding:30px;padding-top:0px;"}
                %table.bordered.highlight.responsive-table
                  %thead
                    %tr
                      %th No
                      %th Deskripsi keperluan
                      %th{:style => "text-align:right"} Jumlah Dana
                  %tbody
                    - numb = 1
                    - @hibah.danas.each do |dana|
                      %tr
                        %td= numb
                        %td= dana.deskripsi
                        %td{:style => "text-align:right"}= number_to_currency dana.jumlah, unit: "Rp. ", separator: ",", delimiter: "."
                      - numb = numb+1
                    %tr
                      %th{:colspan => 2} Jumlah :
                      %th{:style => "text-align:right"}= number_to_currency @hibah.danas.sum(:jumlah), unit: "Rp. ", separator: ",", delimiter: "."
