%li{:class => "#{'active' if params[:controller] == 'home' and params[:action] == 'tentang'}"}
  %a{:href => "/home/tentang"} TENTANG
%li{:class => "#{'active' if params[:controller] == 'home' and params[:action] == 'daftar_hibah'}"}
  %a{:href => "/home/daftar_hibah"} PROPOSAL HIBAH
- if user_signed_in?
  %li{:class => "#{'active' if params[:controller] == 'hibahs' and params[:action] == 'new'}"}
    = link_to 'DAFTAR HIBAH', new_hibah_url
%li{:class => "#{'active' if params[:controller] == 'home' and params[:action] == 'peraturan'}"}
  %a{:href => "/home/peraturan"} PERATURAN
