<!DOCTYPE html>
<html>

<head>
  <title>Purwakarta Sahate</title>

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="/" name="turbolinks-root" />
  <meta content="no-preview" name="turbolinks-cache-control" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= render 'layouts/header_2' %>
  <%= render 'layouts/side_bar' %>
  <% flash.each do |message_type, message| %>
    <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
  <% end %>
  <%= render 'layouts/main' %>
  <style>
    .page-footer {
      padding-top: 0px;
    }
  </style>
  <%= render 'layouts/footer_1' %>
</body>

</html>